name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
      - name: Test
        run: |
          cd ${{ github.workspace }}
          pip install pytest "pyscf>=2.1" .
          pytest -s tests
